<div class="container">
  <div class="row">
    <div class="col">
      <h1 class="display-1 text-primary">500</h1>
      <p class="lead">Internal Server Error</p>
      <p>
        <% if (typeof message !== 'undefined') { %>
          <%= message %>
        <% } %>
      </p>
      <p>Please try again later.</p>
      <p><a href="/">Go back home</a></p>
    </div>
  </div>
</div>
