<div class="container-fluid">
  <img class="decor-image" src="./images/bg-pattern5.png" alt="bg-decoration" style="left: 0; bottom: 10px;" height="500">
  <div class="row d-flex justify-content-center align-items-center vh-100">
    <div class="col-12 col-md-6 text-center">
      <h1 class="display-1 fw-bold text-primary">Thank You</h1>
      <h3>We've received your request</h3>
      <p class="lead">We'll be in touch soon to discuss how we can help you achieve your wellness goals.</p>
      <a class="btn btn-primary rounded-pill" href="/">Go back to home</a>
    </div>
  </div>
</div>